<footer class="footer">
  <section class="section">
    <figure class="section-background">
      <img src="images/bg.png" alt="Background">
    </figure>

    <div class="section-overlay"></div>

    <div class="container">
      <div class="section-foreground">
        <div class="columns columns-footer">
          <div class="column width-1-2-md width-1-3-xlg width-1-1">
            <div class="footer-content">
              <h2 class="footer-content-title">
                For questions and suggestions
              </h2>
              <ul class="list">
                <li class="list-item list-icon icon-mail">
                  email@shelter.com
                </li>
                <li class="list-item list-icon icon-tel">
                  +13 674 567 75 54
                </li>                      
              </ul>
            </div>
          </div>

          <div class="column width-1-2-md width-1-3-xlg width-1-1">
            <div class="footer-content">
              <h2 class="footer-content-title">
                We are waiting for your visit
              </h2>
              <ul class="list">
                <li class="list-item list-icon icon-pin">
                  Boston, Central Street, 1st (Entrance from the store)
                </li>
                <li class="list-item list-icon icon-pin">
                  London, South Park, 18st
                </li>                      
              </ul>
            </div>
          </div>

          <div class="column width-1-1 width-1-3-xlg footer-position">
            <div class="footer-content ">
              <figure class="footer-content-image">
                <img src="images/dog_layer.png" alt="Dog layer">
              </figure>
            </div>
          </div>                
        </div>
      </div>
    </div>
  </section>
</footer>