<header class="header">
  <div class="container">
    <a href="/" class="logo">
      <img src="images/logo.png" alt="Logotype" />
    </a>

    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="is-active">
          <a href="#">
            About the shelter
          </a>
        </li>
        <li>
          <a href="#">
            Our pets
          </a>
        </li>
        <li>
          <a href="#">
            To help the shelter
          </a>
        </li>
        <li>
          <a href="#">
            Contacts
          </a>
        </li>
      </ul>

      <a href="#" class="navbar-toggle">
        <span></span>
      </a>

      <ul class="navbar-nav-mobile">
        <li class="is-active">
          <a href="#">
            About the shelter
          </a>
        </li>
        <li>
          <a href="#">
            Our pets
          </a>
        </li>
        <li>
          <a href="#">
            To help the shelter
          </a>
        </li>
        <li>
          <a href="#">
            Contacts
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>